/* Feuille de style CSS - Landing Page Kyokushin Karate Club de Goderville */


/* @@@ COMMUNS */
header, body, footer{
    font-family: 'Spartan', sans-serif;
}
#club, #instructeurs, .card-cours, .card-shop{
    background-color: #D6D3C0;
}
#cours, .card-instructeurs{
    background-color: #fff;
}
.btn{
    background-color: #C84D47;
    border: #D6D3C0 solid 2px;
    color:#D6D3C0;
    transition: transform .2s; /* Animation */
}
.btn:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    color:#D6D3C0;
}
h1{
    font-size: 7em;
    font-weight: 600;
}     
h2{
    margin-top: 50px;
    font-size: 4em;
    font-weight: 600;
}
h3{
    font-weight: 600;
}
p{
    font-size: 0.8em;
}
.dropdown-menu{
    min-width: 0;
}
/* @@@ SECTION ACCUEIL */
/* Circle svg */
.circle{
    z-index: 1;
    width: 90%;
}
/* Div Kareteka-girl */
.div-img{
    z-index: 2;
}
.karate-girl {
    max-width: auto;
    height: auto;
    width:auto;
}
/* Div Osu et paragraphe */
.div-text{
    z-index: 3;
}

/* @@@ SECTION CLUB */
.p-club{
    font-size: 1em;
}
.img-club{
    position: absolute;
    top: 0;
    right:0;
    background: url(../img/img-club.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
 }

/* @@@ SECTION COURS */
.cours-enfants{
    background-image: url(../img/karate-enfant.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.cours-adultes{
    background-image: url(../img/karate-adulte.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.cours-sante{
    background-image: url(../img/karate-sante.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:contain;
    background-position: center;
}
/* @@@ SECTION SHOP */
.etiquette{
    background-color: #C84D47;
}
.p-tag{
    color:#D6D3C0;
}
.p-tag-sm{
    color:#D6D3C0;
    font-size: 0.8em;
}
.hr-shop{
    border: 1px solid #D6D3C0;
}
a, a:visited{
    text-decoration: none;
}

/* @@@ SECTION CONTACT ET MAP */
.mapouter, .gmap_canvas, #gmap_canvas{
    height:300px;
    width:100%;
    margin:0;
    padding:0;
}
.mapouter{
    position:relative;
    text-align:right;
    margin:0;
    padding:0;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    margin:0;
    padding:0;
    border:0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}
#contact {
    background-color: #1D1D1B;
}
.coordonnees, .contact{
    color:#D6D3C0;
    border: 2px solid #D6D3C0;
    padding: 20px;
    margin: 20px;
}
/* @@@ SECTION NEWSLETTER */
#newsletter{
    background-size:100%;
    background-repeat: no-repeat;
    filter:brightness(100%);
}
.kanji-pattern, footer{
background-image: url(../img/kanji-pattern.gif);
}
footer{
    max-height:200px;
}
.module {
    position: relative;
    z-index: -1;
  }
.module::before {
    content: "";
    position: absolute;
    top: 0px; left: 0; bottom:0px;
    width: 100%; height: 100%;
    background-image: url("../img/masoyama.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    filter:brightness(50%);
}
.module-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
}
/* TOP BUTTON */
#myBtn {
    display: none;  
    position: fixed; 
    bottom: 40px; 
    right: 10px; 
    z-index: 99; 
    border: none; 
    padding: 15px; 
    border-radius: 10px; 
    cursor: pointer;
}
